// Reapeat
.bg-no-repeat {
  background-repeat: no-repeat;
}

// Sizes
.bg-size-contain {
  background-size: contain;
}

.bg-size-cover {
  background-size: cover;
}

// Positions
.bg-position-bottom {
  background-position: bottom;
}

.bg-position-center {
  background-position: center;
}

.bg-position-left {
  background-position: left;
}

.bg-position-right {
  background-position: right
}

.bg-position-top {
  background-position: top;
}
