// Reapeat
.bg-no-repeat {
  background-repeat: no-repeat !important;
}

// Sizes
.bg-size-contain {
  background-size: contain !important;
}

.bg-size-cover {
  background-size: cover !important;
}

// Positions
.bg-position-bottom {
  background-position: bottom !important;
}

.bg-position-center {
  background-position: center !important;
}

.bg-position-left {
  background-position: left !important;
}

.bg-position-right {
  background-position: right !important;
}

.bg-position-top {
  background-position: top !important;
}
