// Colors
%border-color {
  &:not(.border-top):not(.border-left):not(.border-bottom):not(.border-right) {
    border-width: 1px !important;
  }
}

@mixin setBorderColor($name, $color) {
  .border-#{$name} {
    @extend %border-color;
    border: 0 solid $color !important;
  }
}

@include setBorderColor(primary, $primary);
@include setBorderColor(primary-contrast, $primary-contrast);
@include setBorderColor(secondary, $secondary);
@include setBorderColor(secondary-contrast, $secondary-contrast);

// Direction
.border-top {
  border-top-width: 1px !important;
}

.border-left {
  border-left-width: 1px !important;
}

.border-bottom {
  border-bottom-width: 1px !important;
}

.border-right {
  border-right-width: 1px !important;
}
