body {
  background-color: $background-color;
}

// Fields
.q-field--outlined .q-field__inner {
  background-color: white;
  border-radius: $generic-border-radius;
}

.q-radio__inner::before {
  color: $primary;
}

// Tabs
.q-tabs__arrow {
  color: $primary;
}
