// Fade
.fade-enter-active,
.fade-leave-active {
  transform: translateY(0);
  transition: opacity 0.3s, transform 0.3s;
}

.fade-enter,
.fade-leave-to {
  opacity: 0;
  transform: translateY(-100%);
}
