$primary: #027be3;
$secondary: #26a69a;
$accent: #9c27b0;

// Dark
$dark: #1d1d1d;

// Emotives
$positive: #21ba45;
$negative: #c10015;
$info: #31ccec;
$warning: #f2c037;

// Asteroid
@mixin set-brand($name, $color) {
  :root {
    --q-#{$name}: #{$color};
  }

  .text-#{$name} {
    color: $color !important;
    color: var(--q-#{$name}) !important;
  }

  .bg-#{$name} {
    background: $color !important;
    background: var(--q-#{$name}) !important;
  }
}

$primary-contrast: #002E6C;
$secondary-contrast: #90CAF9;

@include set-brand(primary-contrast, $primary-contrast);
@include set-brand(secondary-contrast, $secondary-contrast);
