$primary: #5b40bf;
$secondary: #26A69A;

$accent: #9C27B0;
$dark: #1D1D1D;

$positive: #21BA45;
$negative: #C10015;
$info: #31CCEC;
$warning: #F2C037;

.background-test {
  background: rgba($primary, .15) !important;
}

$test: rgba($primary, .15);

// Asteroid
@mixin setBrand($name, $color) {
  :root {
    --q-color-#{$name}: #{$color};
  }

  .text-#{$name} {
    color: $color !important;
    color: var(--q-color-#{$name}) !important;
  }

  .bg-#{$name} {
    background: $color !important;
    background: var(--q-color-#{$name}) !important;
  }
}

$primary-contrast: #eaeaff;
$secondary-contrast: #ecffea;

@include setBrand(primary-contrast, $primary-contrast);
@include setBrand(secondary-contrast, $secondary-contrast);
