.qas-btn {
  $root: &;

  border-radius: 32px !important;
  min-height: 48px !important;
  padding: var(--qas-spacing-xs) var(--qas-spacing-lg);
  text-transform: initial;
  transition: color var(--qas-generic-transition), background-color var(--qas-generic-transition);

  &:disabled {
    opacity: 1 !important;
  }

  &:not(&--primary):not(:disabled):not(&--no-hover-on-white.qas-btn--tertiary-white):hover {
    color: var(--q-primary-contrast) !important;
    color: red;
  }

  &--primary {
    background-color: var(--q-primary) !important;
    color: white !important;

    &:disabled {
      background-color: $grey-4 !important;
      color: $grey-8 !important;
    }

    &:not(:disabled):hover {
      background-color: var(--q-primary-contrast) !important;
    }
  }

  &--secondary {
    border: 1px solid currentColor;
    color: var(--q-primary) !important;
    position: relative;

    &:disabled {
      color: $grey-8 !important;
    }
  }

  &--tertiary {
    min-height: 24px !important;
    padding-bottom: 0 !important;
    padding-top: 0 !important;

    &:disabled {
      color: $grey-8 !important;
    }

    &-grey-9 {
      color: $grey-9 !important;
    }

    &-primary {
      color: var(--q-primary) !important;
    }

    &-white {
      color: white !important;
    }

    // &-white.#{$root}--no-hover-on-white:
  }

  // &--tertiary-white.&--no-hover-on-white {
  //   color: red !important;
  // }

  &--icon-only {
    padding: 0 !important;

    &:not(#{$root}--tertiary) {
      height: 48px;
      width: 48px;
    }
  }

  &.q-btn {
    &::before {
      display: none;
    }
  }

  .q-icon.on-left {
    margin-right: var(--qas-spacing-xs);
  }

  .q-icon.on-right {
    margin-left: var(--qas-spacing-xs);
  }

  .q-ripple,
  .q-focus-helper {
    display: none;
  }
}

@mixin set-button($variant) {
  @extend .qas-btn;
  @extend .qas-btn--icon-only;

  @if $variant == primary {
    @extend .qas-btn--primary;
  }
}
