.q-field {
  $root: &;

  .q-field__append,
  .q-field__prepend {
    will-change: transform;
    transition: transform 0.3s;
  }

  .q-field__label {
    will-change: transform;
  }

  &__label,
  &--dense &__label {
    @include set-typography($caption);
  }

  &--dense {
    .q-field__control {
      height: 36px !important;
    }

    .q-icon {
      font-size: 18px !important;
    }
  }

  &__native,
  &__input,
  &--dense &__native,
  &--dense &__input {
    @include set-typography($body2);

    color: $grey-10;
    // font-size: 14px;

    &::placeholder {
      color: $grey-6;
      // font-size: 14px;
    }
  }

  &--float,
  &--focused {
    transition: transform 0.3s;

    .q-field__label {
      transform: translate(-24px, -14px) !important;
    }

    .q-field__prepend {
      transition: transform 0.3s;
      transform: translateY(5px) !important;
    }
    .q-field__append {
      transition: transform 0.3s;
      transform: translateY(5px) !important;
    }
  }

  // .q-field--dense.q-field--float .q-field__label {
  //   transform: translateY(-50%) scale(0.75) !important;
  // }

  &--outlined .q-field__control {
    background-color: white;
    border-radius: $generic-border-radius;
  }
}
