.q-field {
  &__label,
  &__native {
    @include set-typography($label);
  }

  &__prepend {
    .q-icon {
      color: $grey-8;
    }
  }

  &__bottom {
    font-size: 0.75rem;
  }

  &--outlined {
    .q-field__control {
      background-color: white;
      border-radius: $generic-border-radius;
    }
  }

  &--dense {
    .q-field__label,
    .q-field__native {
      @include set-typography($label);
    }
  }

  &--float {
    .q-field__label {
      transform: translateY(-40%) scale(0.60) !important;
      color: $grey-8;
    }
  }

  textarea {
    max-height: 200px;
  }
}
