.q-item {
  font-size: 16px;
  min-height: 36px;

  &:not(.disabled) {
    font-weight: 600;
  }

  &:not(&--clickable) {
    color: $grey-8;
  }

  &.q-router-link--active {
    background-color: transparent !important;
    font-weight: 600;

    &::before {
      background-color: var(--q-primary);
      bottom: 0;
      color: var(--q-primary);
      content: '';
      left: 0;
      position: absolute;
      top: 0;
      width: 4px;
    }
  }

  &--clickable:not(&--active) {
    color: $grey-10;
    transition: var(--qas-generic-transition);

    &:not(&.q-router-link--active):hover {
      color: var(--q-primary-contrast);
    }
  }

  &__label--caption {
    transition: var(--qas-generic-transition);
  }

  &__section--avatar {
    min-width: 0;
  }

  & .q-focus-helper {
    display: none;
  }

  &__section--side {
    padding-right: var(--qas-spacing-sm);
  }
}
