.qas-menu {
  border-radius: $generic-border-radius;

  .q-list {
    padding: var(--qas-spacing-sm) var(--qas-spacing-md);

    .q-item {
      padding-left: 0;
      padding-right: 0;
      min-height: 36px !important;

      .q-icon {
        font-size: 18px !important;
      }
    }

    .q-item + .q-item {
      border-top: 1px solid $border-grey;
    }
  }
}
