.q-radio {
  &__label {
    @include set-typography($body2);

    padding-left: var(--qas-spacing-sm) !important;
  }

  &__inner::before {
    color: $primary;
  }

  &.disabled {
    .q-radio__label,
    .q-radio__inner {
      color: $grey-6;
    }
  }
}
