.q-radio {
  &__label {
    @include set-typography($body1);

    color: $grey-8;
  }

  &__inner::before {
    color: $primary;
  }

  &.disabled {
    .q-radio__label,
    .q-radio__inner {
      color: $grey-6;
    }
  }
}
