:root {
  --scrollbar-size: 9px;
  --scrollbar-background: #E0E0E0;
  --scrollbar-border-radius: calc(var(--qas-generic-border-radius) * 2);

  // Firefox support
  scrollbar-color: var(--q-primary) var(--scrollbar-background);
  scrollbar-width: thin;
}

// Webkit browsers
::-webkit-scrollbar {
  background: var(--scrollbar-background);
  border-radius: var(--scrollbar-border-radius);
  height: var(--scrollbar-size);
  width: var(--scrollbar-size);
}

::-webkit-scrollbar-thumb {
  background: var(--q-primary);
  background-clip: padding-box;
  border: 1px solid rgba(0%, 0%, 0%, 0%);
  border-radius: var(--scrollbar-border-radius);
  transition: background-color var(--qas-generic-transition);
  width: var(--scrollbar-size);

  &:hover {
    background: var(--q-primary-contrast);
  }
}
