:root {
  --qas-scrollbar-size: 9px;
  --qas-scrollbar-background: #E0E0E0;
  --qas-scrollbar-thumb-background: var(--q-primary);
  --qas-scrollbar-thumb-background-hover: var(--q-primary-contrast);
  --qas-scrollbar-border-radius: calc(var(--qas-generic-border-radius) * 2);

  // Firefox support
  scrollbar-color: var(--qas-scrollbar-thumb-background) var(--qas-scrollbar-background);
  scrollbar-width: thin;
}
