$shadow-color: $accent;

$elevation-umbra: rgba($shadow-color, 0.2);
$elevation-penumbra: rgba($shadow-color, 0.2);
$elevation-ambient: rgba($shadow-color, 0.2);

$shadow-20: (
  0 10px 13px -6px $elevation-umbra,
  0 10px 13px -6px $elevation-penumbra,
  0 10px 13px -6px $elevation-ambient
);
