@use 'sass:map';

/*
* O único valor que de fato é alterado diferente do padrão do Quasar é o tamanho "lg"
*/
$space-base   : 16px;
$space-x-base : $space-base;
$space-y-base : $space-base;

$space-none : (
  x: 0,
  y: 0
);

$space-xs: (
  x: ($space-x-base * 0.25),
  y: ($space-y-base * 0.25)
);

$space-sm: (
  x: ($space-x-base * 0.5),
  y: ($space-y-base * 0.5)
);

$space-md: (
  x: $space-x-base,
  y: $space-y-base
);

$space-lg: (
  x: ($space-x-base * 1.5),
  y: ($space-y-base * 1.5)
);

// O tamanho original seria "16px * 3" ou "48px", alterado para ter "32px"
$space-xl: (
  x: ($space-x-base * 2),
  y: ($space-y-base * 2)
);

$spaces: (
  none: $space-none,
  xs: $space-xs,
  sm: $space-sm,
  md: $space-md,
  lg: $space-lg,
  xl: $space-xl
);

$flex-gutter-xs : map.get($space-xs, 'x');
$flex-gutter-sm : map.get($space-sm, 'x');
$flex-gutter-md : map.get($space-md, 'x');
$flex-gutter-lg : map.get($space-lg, 'x');
$flex-gutter-xl : map.get($space-xl, 'x');

$flex-gutter: (
  none: 0,
  xs: $flex-gutter-xs,
  sm: $flex-gutter-sm,
  md: $flex-gutter-md,
  lg: $flex-gutter-lg,
  xl: $flex-gutter-xl
);

:root {
  @each $key, $space in $spaces {
    --qas-spacing-#{$key}: #{map.get($space, 'x')};
  }
}
