@import 'quasar/src/css/variables';

// Quasar variables
$primary: var(--q-primary);
$primary-contrast: var(--q-primary-contrast);
$secondary: var(--q-secondary);
$secondary-contrast: var(--q-secondary-contrast);
$accent: var(--q-accent);

// Asteroid variables
:root {
  --qas-background-color: #f5f5f5;
  --qas-generic-border-radius: 8px;
}

$background-color: var(--qas-background-color);
$generic-border-radius: var(--qas-generic-border-radius);

// variables
@import './css/variables/index';

// components
@import './css/components/index';

// plugins
@import './css/plugins/index';

// utils
@import './css/utils/index';

// mixins
@import './css/mixins/index';
