@use 'sass:color';
@import '../../../ui/src/index';

$primary: hsl(200deg, 100%, 24%); // Primary Brand
$secondary: hsl(200deg, 100%, 24%); // Secondary Brand
$accent: hsla(200deg, 100%, 16%, 50%); // Shadow Brand

$primary: color.adjust($primary, $alpha: 0.2);

// Custom
$primary-contrast: hsla(200deg, 40%, 80%, 64%); // Contrast Primary Brand
$secondary-contrast: hsla(200deg, 43%, 51%, 50%); // Contrast Secondary Brand

// Dark
$dark: #1d1d1d;

// Emotive
$positive: #21ba45;
$negative: #c10015;
$info: #31ccec;
$warning: #f2c037;

// Custom
$brand-primary: $primary;
