@use 'sass:color';

@import 'quasar/src/css/variables';
@import '../../../ui/src/index';

$primary   : #0f53af;
$secondary : #1565C0;
$tertiary  : #c7ceff;
$accent    : rgba(33, 33, 33, 10%);
$dark      : #212121;
$positive  : #21ba45;
$negative  : $red-14;
$info      : #31ccec;
$warning   : #f2c037;

// Asteroid
$primary-contrast: #1976d2;
$secondary-contrast: #90caf9;

// Custom
$brand-primary: $primary;

@mixin set-brand($name, $color) {
  :root {
    --q-#{$name}: #{$color};
  }

  .text-#{$name} {
    color: $color !important;
    color: var(--q-#{$name}) !important;
  }

  .bg-#{$name} {
    background: $color !important;
    background: var(--q-#{$name}) !important;
  }
}

@include set-brand(primary-contrast, $primary-contrast);
@include set-brand(secondary-contrast, $secondary-contrast);
