// Colors
%border-color {
  &:not(.border-top):not(.border-left):not(.border-bottom):not(.border-right) {
    border-width: 1px !important;
  }
}

@mixin set-border-color($name, $color) {
  .border-#{$name} {
    border: 0 solid $color !important;

    @extend %border-color;
  }
}

@include set-border-color(primary, $primary);
@include set-border-color(primary-contrast, $primary-contrast);
@include set-border-color(secondary, $secondary);
@include set-border-color(secondary-contrast, $secondary-contrast);
@include set-border-color('grey', $border-grey);

// Direction
.border-top {
  border-top-width: 1px !important;
}

.border-left {
  border-left-width: 1px !important;
}

.border-bottom {
  border-bottom-width: 1px !important;
}

.border-right {
  border-right-width: 1px !important;
}
