.container,
.container-xs,
.container-sm,
.container-md,
.container-lg,
.container-xl {
  margin-left: auto;
  margin-right: auto;
  max-width: 1920px;
  width: calc(100% - 80px);

  &.spaced {
    padding-bottom: var(--qas-spacing-md);
    padding-top: var(--qas-spacing-md);
  }

  @media (max-width: $breakpoint-xs) {
    width: calc(100% - var(--qas-spacing-2xl));
  }
}

.container-xs {
  max-width: $breakpoint-xs !important;
}

.container-sm {
  max-width: $breakpoint-sm !important;
}

.container-md {
  max-width: $breakpoint-md !important;
}

.container-lg {
  max-width: $breakpoint-lg !important;
}

/**
 * Adiciona padding no container para evitar que o botão do Gleap fique sobreposto ao conteúdo da página.
 * O Gleap é exibido em todas as páginas, então aplicamos o padding sempre que ele estiver presente.
 */
body:has(.bb-feedback-button) .container {
  padding-bottom: 80px;
}
