.text-baseline {
  vertical-align: baseline !important;
}

.text-break {
  word-break: break-all !important;
}

.text-underline {
  text-decoration: underline !important;
}

.text-no-decoration {
  text-decoration: none !important;
}
