@use 'sass:map';

@mixin set-typography($name, $important: false) {
  font-size: if($important, map.get($name, 'size') !important, map.get($name, 'size'));
  font-weight: if($important, map.get($name, 'weight') !important, map.get($name, 'weight'));
  letter-spacing: if($important, map.get($name, 'letter-spacing') !important, map.get($name, 'letter-spacing'));
  line-height: if($important, map.get($name, 'line-height') !important, map.get($name, 'line-height'));
}
