@import '../variables/typography.scss';

@mixin set-error-message ($important: false) {
  @include set-typography($caption, $important);

  @if $important {
    padding-top: var(--qas-spacing-sm) !important;
    color: $negative !important;
  } @else {
    padding-top: var(--qas-spacing-sm);
    color: $negative;
  }
}
