@mixin set-button(
  $variant,
  $icon-only: false,
  $no-hover-on-white: false,
  $color: false,
  $ellipsis: false,
  $size: lg
) {
  @extend .qas-btn;
  @extend .qas-btn--#{$variant};
  @extend .qas-btn--#{$size};

  @if $variant == primary and $color {
    @extend .qas-btn--primary-#{$color};
  }

  @if $variant == secondary and $color {
    @extend .qas-btn--secondary-#{$color};
  }

  @if $variant == tertiary and $color {
    @extend .qas-btn--tertiary-#{$color};
  }

  @if $icon-only {
    @extend .qas-btn--#{$variant}-icon-only;
  }

  @if $no-hover-on-white {
    @extend .qas-btn--no-hover-on-white;
  }

  @if $ellipsis {
    @extend .qas-btn--ellipsis;
  }
}
